* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

main {
    width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
    padding: 40px;
}

header {
    margin-left: 48px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.text-area {
    font-size: 28px;
    border: none;
    color: #0a3871;
    margin-top: 50px;
    text-transform: lowercase;
    margin-left: 200px;
    padding-left: 20px;
}

::placeholder { color:#0a3871 }
    .text-area:focus {
        outline: black, auto;
        border-radius: 15px;
    }


.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
}

.info-btn {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.botoes {
    display: flex;
    margin-top: 18px;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
}

.botoes button,
.right-container button {
    font-size: 16px;
    line-height: 19px;
} 

.btn-desencriptar {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar:hover {
    transform: scale(1.02);
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar:hover {
    transform: scale(1.02);
}

.informacao {
    color: #495057;
    font-size: 12px;
    width: 228px;
    height: 18px;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
    max-height: 944px;
    background-color: white;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
}

.right-container img {
    background-color: transparent;
}

.right-container p,
.right-container h2 {
    color: black;
    background-color: transparent;
    text-align: center;
    font-style: normal;
}

.right-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}

.right-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}


.mensagem {
    background-color: white;
    border: none;
    /* resize: none; */
}

.mensagem:focus {
    outline: none;
}

#resposta {
    font-size: 28px;
    border: none;
    color: #0a3871;
    margin-top: 50px;
    
  
}

#btn-copiar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    background-color: transparent;
}

#btn-copiar:hover {
    transform: scale(1.02);
}

footer {
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    font-family: 'Inter', sans-serif;
    color: #0a3871 ;
    font-weight: bold;
}

.link, .link a {
    display: flex;
    flex-direction: row;
    text-decoration: none; 
    padding: 0 15px;
    color: #0a3871 ;
}